<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116640941094-r878ib2aflvnt7ekcf6ni4g380ujk4j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116640941094-r878ib2aflvnt7ekcf6ni4g380ujk4j9</string>
	<key>API_KEY</key>
	<string>AIzaSyBOfQLKO4iIWFcYTPwcKEcGXfo6b3gG2KI</string>
	<key>GCM_SENDER_ID</key>
	<string>116640941094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAssignment</string>
	<key>PROJECT_ID</key>
	<string>flutter-whatsapp-49bdc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-whatsapp-49bdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116640941094:ios:bc9f453daf12c23dbb12e7</string>
</dict>
</plist>